@import url("add tracks.css");
.main {
  border: 2px solid #00244D;
  border-radius: 5px;
  margin: 150px 0px 200px 100px;
  width: 1150px;
  height: auto;
}

.require_head {
  width: 100%;
  height: 120px;
  margin: 0px 50px 0px 0px;
  border-top: solid 1px #8d8c8c;
  border-bottom: solid 1px #8d8c8c;
}

.require_head h4 {
  margin-left: 30px;
  line-height: 4em;
  color: #5c5c5c;
  font-size: 30px;
}

.require_body {
  margin: 40px 40px 43px 40px;
}

a {
  cursor: pointer;
}

.tracks {
  margin-left: 0px;
  line-height: 4em;
  color: #9e9c9c;
  font-size: 33px;
  display: inline-block;
  font-weight: normal;
}

hr {
  margin-bottom: 40px;
  color: black;
}

#list_track li, #list_tool li {
  text-decoration: none;
  color: grey;
  font-weight: normal;
  font-size: 33px;
}

#list_remove li a, #list_remove2 li a {
  color: #9e9c9c;
  text-decoration: none;
  font-size: 30px;
}

#list_remove li a:hover, #list_remove2 li a:hover {
  color: #00244D;
}

#list_track, #list_tool {
  display: inline-block;
  list-style: none;
  padding-left: 0px;
}

#list_remove, #list_remove2 {
  display: inline-block;
  list-style: none;
}

.add_tracks {
  display: inline-block;
  color: #00244D;
  text-decoration: none;
  font-size: 30px;
  margin-left: 717px;
}

.add_tracks:hover {
  color: #5c5c5c;
  text-decoration: none;
}

.add_tracks:hover .fa-plus-circle {
  color: #5c5c5c;
}

.add_tools {
  display: inline-block;
  color: #00244D;
  text-decoration: none;
  font-size: 30px;
  margin-left: 334px;
}

.add_tools:hover {
  color: #5c5c5c;
  text-decoration: none;
}

.add_tools:hover .fa-plus-circle {
  color: #5c5c5c;
}

.add_description {
  display: inline-block;
  color: #00244D;
  text-decoration: none;
  font-size: 30px;
  margin-left: 407px;
}

.add_description:hover {
  color: #5c5c5c;
  text-decoration: none;
}

.add_description:hover .fa-plus-circle {
  color: #5c5c5c;
}

.remove {
  color: #9e9c9c;
  text-decoration: none;
  font-size: 30px;
  display: inline-block;
  margin-left: 843px;
}

.remove:hover, .remove_description:hover {
  color: #00244D;
  text-decoration: none;
}

.remove_description {
  color: #9e9c9c;
  text-decoration: none;
  font-size: 30px;
  display: inline-block;
  margin-left: 960px;
}

.btn {
  margin-top: 40px;
  width: 120px;
  font-size: 20px;
  font-weight: bold;
}

.back {
  border: solid 2px #00244D;
  color: #00244D;
  margin-left: 200px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 36, 77, 0.075) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 36, 77, 0.075) !important;
}

.back:hover {
  -webkit-box-shadow: 0 0.5rem 1rem #ffbb56a1 !important;
          box-shadow: 0 0.5rem 1rem #ffbb56a1 !important;
  color: #ffbb56;
  background-color: #00244D;
  border: solid 2px #00244D;
}

.save {
  border: solid 2px #00244D;
  background-color: #00244D;
  color: white;
  margin-left: 450px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 36, 77, 0.075) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 36, 77, 0.075) !important;
}

.save:hover {
  -webkit-box-shadow: 0 0.5rem 1rem #ffbb56a1 !important;
          box-shadow: 0 0.5rem 1rem #ffbb56a1 !important;
  color: #ffbb56;
  background-color: #00244D;
  border: solid 2px #00244D;
}

.d1 p {
  color: #2c2b2b;
  margin-top: 30px;
  font-size: 33px;
  display: inline-block;
}

@media (max-width: 992px) {
  .main {
    width: 710px;
    margin-left: 50px;
  }
  .add_tracks {
    margin-left: 280px;
  }
  .remove {
    margin-left: 400px;
  }
  #tools {
    margin-left: 60px;
    margin-top: 10px;
  }
  .add_tools {
    margin-left: 190px;
  }
  #short_desc {
    margin-left: 140px;
    margin-top: 10px;
  }
  .add_description {
    margin-left: 145px;
  }
  .d1 {
    font-size: 30px;
  }
  .remove_description {
    margin-left: 510px;
  }
  .back {
    margin-left: 30px;
  }
  .save {
    margin-left: 370px;
  }
}

@media (max-width: 768px) {
  .main {
    width: 500px;
  }
  .add_tracks, .add_tools {
    margin-left: 88px;
  }
  .add_description {
    margin-left: 50px;
  }
  .tracks {
    margin-left: 160px;
  }
  #tools {
    margin-left: 0px;
    text-align: center;
  }
  #short_desc {
    margin-left: 40px;
    text-align: center;
  }
  .remove {
    margin-left: 195px;
  }
  hr {
    margin-left: 0px;
  }
  .d1 p {
    text-align: center;
  }
  .remove_description {
    margin-left: 158px;
  }
  .back {
    margin-left: 10px;
  }
  .save {
    margin-left: 200px;
  }
}

@media (max-width: 576px) {
  .main {
    width: 300px;
  }
  .require_head h4 {
    margin-left: 10px;
    line-height: 4em;
    font-size: 20px;
  }
  .require_head {
    height: 90px;
  }
  .require_body {
    margin-left: 23px;
  }
  .tracks {
    font-size: 20px;
    margin-left: 75px;
    text-align: center;
  }
  #tools {
    margin-left: 18px;
    text-align: center;
  }
  #short_desc {
    margin-left: 20px;
    text-align: center;
  }
  .add_tracks {
    margin-left: 18px;
    font-size: 25px;
  }
  .add_tools {
    margin-left: 25px;
    font-size: 25px;
  }
  .add_description {
    margin-left: 9px;
    font-size: 21px;
  }
  .d1 h3 {
    padding-left: 5px;
  }
  hr {
    width: 310px;
    margin-left: 0px;
  }
  .remove {
    margin-left: 140px;
  }
  .back {
    margin-left: 0px;
    margin-top: 22px;
  }
  .save {
    margin-left: 20px;
    margin-top: 22px;
  }
  .d1 p {
    font-size: 20px;
    text-align: center;
  }
  .remove_description {
    margin-left: 70px;
  }
}
/*# sourceMappingURL=19.css.map */